* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(129, 129, 129);
}

a {
    color: rgb(184, 62, 62);
    text-decoration: none;
}

/* Estilos para la navbar */
.principal-navbar-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para la navbar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    z-index: 1; /* Asegura que la navbar esté por encima del carrusel */
}


.principal-navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.principal-navbar h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    
}

/* Estilos para el carrusel de imágenes */
#carouselExample {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
}
/* Estilos para el texto del carrusel */
.carousel-caption {
    position: absolute;
    color: #fff;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    bottom: 10px;
    font: 200 2.5rem Quicksand;

}
.carousel-inner .carousel-item::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.carousel-item.active {
    opacity: 1;
}

.fundacion h1{
    color: rgb(17, 128, 255);
    text-align: center;

}
/* Estilos adicionales para los items */
.turismo{
    width: 100%;
    text-align: center;
    color: rgb(17, 128, 255);
}

.item {
    color: black;
    right: 0;
    width: 70%;
    display: flex;

}

.right{
    float: right;
}

.item-info {
    align-self: center;
}

.item img {
    width: 300px;
    height: 300px;
    border-radius: 360px;
}
